//
// Components
//

//CTA
.cta {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  line-height: 1;
  font-weight: bold;
  @include border-radius(10px);
  @include font-size(16);
  border: solid 2px $blue;
  padding-right: 30px;
  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 9px;
    background-image: url(../images/sprite.svg);
    background-position: -3px -140px;
  }
  
}

// header
header {
  background: #BBEFE0;
  overflow: hidden;
  @include breakpoint($tablet) {
    padding: 37px;
  }
  padding: 15px;
  .logo {
    max-width: 173px;
    text-align: center;
    @include breakpoint($tablet) {
      width: 110px; 
      float: left;
    }
    @include breakpoint($desktop) {
      width: auto; 
    }
    @include breakpoint($mobile-only) {
      display: block;
      max-width: none;
      width: 100%;
      margin-bottom: 20px;
      img {
        max-width: 160px;
      }
    }
  }
}

.main-nav {
  .menu {
    margin: 0;
    padding: 0;
    @include breakpoint($tablet) {
      float: right;
    }
  }
  li {
    list-style-type: none;
    &:last-child {
      margin-right: 0;
    }
    text-align: center;
    @include breakpoint($tablet) {
      display: inline-block;
      margin-right: 15px;
      text-align: left;
    }
  }
  a {
    @include font-size(19);
    color: $blue;
    margin-bottom: 15px;
    display: block;
    @include breakpoint($tablet) {
      padding: 4px 7px;
      @include font-size(15);
      display: inline-block;
    }
    @include breakpoint($desktop) {
      padding: 8px 15px;
      @include font-size(19);
      &:hover {
        background: #E4F9F3;
        @include border-radius(10px);
      }
    }
    &.contact {
      @extend .cta;
      font-weight: normal;
      margin-top: -2px;
      @include breakpoint($tablet) {
        padding: 5px 30px 5px 7px;
        @include font-size(15);
        &:after {
          top: 5px;
        }
      }
      @include breakpoint($desktop) {
        @include font-size(19);
        padding: 8px 27px 8px 12px;
        &:hover {
          background: $blue;
          color: #fff;
        }
        &:after {
          top: 11px
        }
      }
    }
  }
}

// hero slideshow
.hero-slider {
  background: $light-blue;
  .slides {
    margin-top: 0;
    padding: 0;
  }
}
.slide-container {
  @include breakpoint($desktop) {
    padding: 70px 20px 60px;
  }
  padding: 20px 20px 60px;
  overflow: hidden;
  @extend .grid;
  .title {
    @include breakpoint($tablet) {
      @include font-size(40);
      line-height: 1.2;
    }
    @include font-size(29);
    line-height: 1.2;
    margin-bottom: 20px;
  }
  p {
  @include breakpoint($tablet) {
   @include font-size(28);
   margin-bottom: 35px;
  }
   @include font-size(20);
   margin-bottom: 20px;
  }
  .cta {
    @include breakpoint($tablet) {
      @include font-size(19);
      margin-bottom: 80px;
      &:after {
        top: 11px;
      }
    }
    @include breakpoint($desktop) {
      margin-bottom: 20px;
    }
    @include font-size(17);
    font-weight: bold;
    line-height: 1.2;
    &:after {
      top: 10px;
    }
  }
}
.slide-content {
  @include breakpoint($tablet) {
    width: 55%;
    float: left;
  }
}
.slide-image {
  @include breakpoint($tablet) {
    float: right;
    width: 40%;
    margin-top: -10px;
    padding: 0;
  }
  padding: 25px 45px 15px;
}
.flex-direction-nav {
  @include breakpoint($tablet) {
    margin-top: -100px;
    left: auto;
  }
  margin-top: -80px;
  padding-bottom: 20px;
  position: relative;
  left: 40%;
  @extend .grid;
  li {
    list-style-type: none;
    display: inline-block;
    a {
      width: 27px;
      height: 27px;
      overflow: hidden;
      text-indent: 100%;
      background-image: url(../images/sprite.svg);
      display: inline-block;
    }
    .flex-prev {
      background-position: -2px -40px;
    }
    .flex-next {
      background-position: -3px -82px;
    }
  }
}

// blocks
.section-title {
  text-align: center;
  color: #7BBDB1;
  @include font-size(28);
  margin: 44px 0;
}

.block-work {}
.block-work .intro {
  border-top: solid 2px #E4F9F3;
  border-bottom: solid 2px #E4F9F3;
  overflow: hidden;
  padding: 40px 20px;
  margin-bottom: 60px;
  text-align: center;
  img {
    max-height: 150px;
  }
  p {
    padding-top: 40px;
    @include breakpoint($mobile-only) {
      @include font-size(17);
    }
    @include breakpoint($desktop) {
      text-align: left;
    }
  }
  @include breakpoint($mobile-only) {
    .first {
      margin-bottom: 60px;
    }
  }
  .first {
    @extend %half-first;
  }
  .last {
    @extend %half-last;
  }
}

// work item
.work-item {
  overflow: hidden;
  margin-bottom: 110px;
  @include breakpoint($desktop) {
  .work-description {
      float: right;
      width: 50%;
    }
    .work-image {
      float: left;
      width: 44%;
      margin-bottom: 0;
    }
    &.reversed {
      .work-description {
        float: left;
      }
      .work-image {
        float: right;
      }
    }
  }
  .work-image {
    margin-bottom: 15px;
  }
  p {
    @include font-size(16);
    margin-bottom: 20px;
    color: #555;
  }
}
.work-description {
  color: $blue;
}
.work-title {
  @include breakpoint($tablet) {
    @include font-size(36);
  }
  @include font-size(24);
  margin-bottom: 10px;
  color: #25567f;
}
.work-subtitle {
  @include breakpoint($tablet) {
    @include font-size(22);
  }
  @include font-size(18);
  color: #6CA0A0;
  font-weight: 400;
}
.work-tags {
  @include font-size(12);
  color: #999;
  margin-bottom: 14px;
  display: block;
  text-transform: uppercase;
}
.work-cta {}

// more works toggle
.compressed {
  max-height: 2000px;
  overflow: hidden;
}
.hidden {
  display: none !important;
}
.overlay {
  height: 259px;
  background: url(../images/overlay.png) repeat-x;
  border-bottom: solid 2px #ccc;
  position: relative;
  margin-top: -200px;
  z-index: 5;
}
.more-work {
  cursor: pointer;
  display: block;
  padding: 15px;
  width: 140px;
  margin: -21px auto 40px;
  position: relative;
  z-index: 10;
  background: #fff;
  color: #777;
  text-align: right;
  @include font-size(18);
  @include border-radius(100px);
  border: solid 2px #ccc;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  &:after {
    content: '+';
    position: absolute;
    left: 9px;
    top: 7px;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 24px;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    @include font-size(30);
    @include border-radius(100px);
    background: #999;
    color: #fff;
  }
  &:hover {
    background: #ccc;
    color: #fff;
  }
  &:hover:after {
    background: #fff;
    color: #ccc;
  }
}

.block-clients {
  clear: both;
  overflow: hidden;
  padding: 44px 0;
  h2 {
    color: #555;
    width: 10%;
    @include breakpoint($tablet) {
      float: left;
    }
  }
  .slides {
    margin: 0;
    padding: 0;
    @include breakpoint($tablet) {
      width: 80%;
      float: left;
    }
  }
}

.block-community {
  overflow: hidden;
  background: #412A45;
  padding: 44px 0;
  h2.section-title {
    color: #fff;
    margin: 0 0 80px;
    text-align: left;
    @include breakpoint($desktop) {
      text-align: center;
    }
  }
  h2 {
    color: $orange;
  }
  h3 {
    color: #fff;
    margin-bottom: 0;
  }
  .date {
    @include font-size(15);
    color: #fff;
  }
  .community-list {
    margin-left: 0;
    padding: 0;
  }
  li {
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 0;
  }
  h4 {
    color: #fff;
    margin: 10px 0;
    font-weight: 300; 
  }
  @include breakpoint($mobile-only) {
    .first,.middle,.last {
      @include breakpoint($tablet) {
        margin-bottom: 20px;
      }
      margin-bottom: 40px;
    }
  }
  @include breakpoint($desktop) {
    .first {
      @include grid-span(4, 1, 12, $gutter: 0);
    }
    .middle {
      @include grid-span(3, 6, 12, $gutter: 0);
    }
    .last {
      @include grid-span(3, 10, 12, $gutter: 0);
    }
  }
}

.cta-list {
  @include breakpoint($mobile-only) {
    padding-left: 0;
  }
  .cta {
    border: 0;
    color: $orange;
    @include font-size(18);
    font-weight: 600;
    padding-left: 20px;
    background: url(../images/sprite.svg) -1px -169px no-repeat;
    padding-right: 12px;
    &:after {
      display: none;
    }
  }
}
.badge {
  max-width: 155px;
  text-indent: center;
  &:after {
    display: none;
  }
}
// block blog

.block-blog {
  overflow: hidden;
  background: #D9FFF1;
  padding-bottom: 44px;
  .section-title {
    color: #A7C6C1;
    border-bottom: solid 2px #A7C6C1;
    padding-bottom:44px;
  }
  h3 {
    @include font-size(28);
  }
  ul {
    padding: 0 0 0 20px;
  }
  li {
    @include font-size(16);
    margin-bottom: 20px;
  }
  .first {
    @extend %half-first;
  }
  .last {
    @extend %half-last;
    h3 {
      @include font-size(22);
    }
  }
}

// block contact
.block-contact {
  overflow: hidden;
  padding: 44px 0;
  color: #666;
  h2 {
    @include font-size(32);
  }
  p {
    line-height: 1.2;
    margin-bottom: 40px;
  }
  .phone {
    @include font-size(24);
    color: #344253;
    line-height: 1.2;
    margin-bottom: 40px;
    .number {
      color: #1f8b75;
    }
  }
  .first {
    @extend %half-first;
    @include breakpoint($mobile-only) {
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: solid 1px #e1e1e1;
    }
  }
  .last {
    @extend %half-last;
  } 
}

.social {
  padding: 0;
  margin-top: 50px;
  li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    font-size: 18px;
    &.menu-title {
      text-indent: 0;
      width: auto;
      background-image: none;
      line-height: 36px;
    }
    .social-icon {
      display: inline-block;
      width: 37px;
      height: 37px;
      vertical-align: top;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      background-image: url(../images/sprite.svg);
    }
    .facebook {
      background-position: -1px -280px;
    }
    .twitter {
      background-position: -1px -325px;
    }
    .linked-in {
      background-position: -1px -369px;
    }
    .drupal {
      background-position: -1px -414px;
    }
  }
}

.footer {
  overflow: hidden;
  padding: 44px 0 0;
  background: #BBEFE0;
  text-align: center;
  p {
    @include font-size(18);
  }
  .first {
    @extend %half-first;
    margin-bottom: 44px;
  }
  .last {
    @extend %half-last;
    margin-bottom: 44px;
  }
  .badge {
    @include font-size(24);
    border: solid 3px $blue;
    font-weight: 600;
    padding: 20px 30px;
    color: $blue;
    @include breakpoint($desktop) {
      margin: 45px 0;
    }
  }
  .closing {
    clear: both;
    overflow: hidden;
    background: $blue;
    color: $light-blue;
    b {
      display: block;
      font-weight: normal;
      @include font-size(15);
      padding: 20px 0;
      letter-spacing: 2px;
    }
  }
}
.footer-logo {
  max-width: 168px;
  @include breakpoint($tablet) {
    margin-top: 40px;
  }
}