//
// Variables
//

// Breakpoints
$phone: 400px;
$tablet: 800px;
$desktop: 960px;
$full-width: 1200px;
$mobile-only: 0 960px;

// Colors
$light-blue: #E4F9F3;
$blue: #344253;
$orange: #FF9343;
$gray-text: #666666;

// Typography
$omnes:   "omnes-pro", Arial, sans-serif;
$freight: "freight-sans-pro", Helvetica, sans-serif;
