@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
/* line 5, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
  line-height: 1.4em;
}

/* line 12, ../sass/partials/_base.scss */
body {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
}

/* line 19, ../sass/partials/_base.scss */
.page {
  font-size: 14px;
  font-size: 1.4rem;
  overflow: hidden;
}

/* line 24, ../sass/partials/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 29, ../sass/partials/_base.scss */
p, li, dd {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.4em;
}

/* line 34, ../sass/partials/_base.scss */
p {
  margin: 0 0 0.7em 0;
  font-size: 20px;
  font-size: 2rem;
}

/* line 39, ../sass/partials/_base.scss */
a, a.active {
  text-decoration: none;
  color: #344253;
}

/* line 44, ../sass/partials/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 48, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2em;
  font-family: "omnes-pro", Arial, sans-serif;
  color: #344253;
}

/* line 57, ../sass/partials/_base.scss */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 61, ../sass/partials/_base.scss */
h3 {
  font-size: 20px;
  font-size: 2rem;
}

/* line 65, ../sass/partials/_base.scss */
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 69, ../sass/partials/_base.scss */
h5 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 73, ../sass/partials/_base.scss */
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 77, ../sass/partials/_base.scss */
ul {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 3em;
}

/* line 82, ../sass/partials/_base.scss */
table {
  margin: 0;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  font-size: 1.5rem;
}
/* line 87, ../sass/partials/_base.scss */
table caption {
  font-weight: 600;
  padding: 0.5em;
  margin: 0.5em auto;
}
/* line 92, ../sass/partials/_base.scss */
table td, table th {
  padding: 0.5em;
}
/* line 95, ../sass/partials/_base.scss */
table thead th, table tfoot th {
  font-weight: 600;
}
/* line 98, ../sass/partials/_base.scss */
table tfoot th {
  border-top: 0.1em inset #000;
}
/* line 101, ../sass/partials/_base.scss */
table thead th {
  border-bottom: 0.1em inset #000;
}

/* line 106, ../sass/partials/_base.scss */
tr.even, tr.odd {
  background-color: transparent;
}

/* line 9, ../sass/partials/_layout.scss */
.grid {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

/* No files to import found in partials/components/* */
