@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
/* line 5, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
  line-height: 1.4em;
}

/* line 12, ../sass/partials/_base.scss */
body {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
}

/* line 19, ../sass/partials/_base.scss */
.page {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 23, ../sass/partials/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 28, ../sass/partials/_base.scss */
p, li, dd {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.4em;
}

/* line 33, ../sass/partials/_base.scss */
p {
  margin: 0 0 0.7em 0;
  font-size: 20px;
  font-size: 2rem;
}

/* line 38, ../sass/partials/_base.scss */
a, a.active {
  text-decoration: none;
  color: #344253;
}

/* line 43, ../sass/partials/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 47, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2em;
  font-family: "omnes-pro", Arial, sans-serif;
  color: #344253;
}

/* line 56, ../sass/partials/_base.scss */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 60, ../sass/partials/_base.scss */
h3 {
  font-size: 20px;
  font-size: 2rem;
}

/* line 64, ../sass/partials/_base.scss */
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 68, ../sass/partials/_base.scss */
h5 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 72, ../sass/partials/_base.scss */
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 76, ../sass/partials/_base.scss */
ul {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 3em;
}

/* line 81, ../sass/partials/_base.scss */
table {
  margin: 0;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  font-size: 1.5rem;
}
/* line 86, ../sass/partials/_base.scss */
table caption {
  font-weight: 600;
  padding: 0.5em;
  margin: 0.5em auto;
}
/* line 91, ../sass/partials/_base.scss */
table td, table th {
  padding: 0.5em;
}
/* line 94, ../sass/partials/_base.scss */
table thead th, table tfoot th {
  font-weight: 600;
}
/* line 97, ../sass/partials/_base.scss */
table tfoot th {
  border-top: 0.1em inset #000;
}
/* line 100, ../sass/partials/_base.scss */
table thead th {
  border-bottom: 0.1em inset #000;
}

/* line 105, ../sass/partials/_base.scss */
tr.even, tr.odd {
  background-color: transparent;
}

/* line 9, ../sass/partials/_layout.scss */
.grid, .slide-container, .flex-direction-nav {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 800px) {
  /* line 16, ../sass/partials/_layout.scss */
  .block-work .intro .first, .block-blog .first, .block-contact .first, .footer .first {
    width: 47.82609%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }

  /* line 19, ../sass/partials/_layout.scss */
  .block-work .intro .last, .block-blog .last, .block-contact .last, .footer .last {
    width: 47.82609%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 6, ../sass/partials/_components.scss */
.cta, .main-nav a.contact {
  display: inline-block;
  padding: 8px 12px;
  line-height: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  border: solid 2px #344253;
}

/* line 16, ../sass/partials/_components.scss */
header {
  background: #BBEFE0;
  overflow: hidden;
  padding: 37px;
}
/* line 20, ../sass/partials/_components.scss */
header .logo {
  float: left;
  max-width: 173px;
}

/* line 27, ../sass/partials/_components.scss */
.main-nav .menu {
  margin: 0;
  padding: 0;
  float: right;
}
/* line 32, ../sass/partials/_components.scss */
.main-nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
}
/* line 37, ../sass/partials/_components.scss */
.main-nav a {
  font-size: 19px;
  font-size: 1.9rem;
  color: #344253;
  display: inline-block;
  padding: 8px 15px;
}
/* line 42, ../sass/partials/_components.scss */
.main-nav a:hover {
  background: #E4F9F3;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 46, ../sass/partials/_components.scss */
.main-nav a.contact {
  margin-top: -2px;
}
/* line 49, ../sass/partials/_components.scss */
.main-nav a.contact:hover {
  background: #344253;
  color: #fff;
}

/* line 58, ../sass/partials/_components.scss */
.hero-slider {
  background: #e4f9f3;
}
/* line 60, ../sass/partials/_components.scss */
.hero-slider .slides {
  margin-top: 0;
  padding: 0;
}

/* line 65, ../sass/partials/_components.scss */
.slide-container {
  padding: 100px 20px 60px;
  overflow: hidden;
}
/* line 69, ../sass/partials/_components.scss */
.slide-container .title {
  font-size: 40px;
  font-size: 4rem;
  margin-bottom: 30px;
}
/* line 73, ../sass/partials/_components.scss */
.slide-container p {
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 35px;
}
/* line 77, ../sass/partials/_components.scss */
.slide-container .cta, .slide-container .main-nav a.contact, .main-nav .slide-container a.contact {
  font-size: 19px;
  font-size: 1.9rem;
}

/* line 81, ../sass/partials/_components.scss */
.slide-content {
  width: 55%;
  float: left;
}

/* line 85, ../sass/partials/_components.scss */
.slide-image {
  float: right;
  width: 40%;
  margin-top: -10px;
}

/* line 90, ../sass/partials/_components.scss */
.flex-direction-nav {
  margin-top: -100px;
  padding-bottom: 20px;
}
/* line 94, ../sass/partials/_components.scss */
.flex-direction-nav li {
  list-style-type: none;
  display: inline-block;
}
/* line 97, ../sass/partials/_components.scss */
.flex-direction-nav li a {
  width: 27px;
  height: 27px;
  overflow: hidden;
  text-indent: 100%;
  background: red;
  display: inline-block;
}

/* line 109, ../sass/partials/_components.scss */
.section-title {
  text-align: center;
  color: #BCDDD7;
  font-size: 28px;
  font-size: 2.8rem;
  margin: 44px 0;
}

/* line 117, ../sass/partials/_components.scss */
.block-work .intro {
  border-top: solid 2px #E4F9F3;
  border-bottom: solid 2px #E4F9F3;
  overflow: hidden;
  padding: 40px 20px;
  margin-bottom: 60px;
  text-align: center;
}
/* line 124, ../sass/partials/_components.scss */
.block-work .intro img {
  max-height: 150px;
}
/* line 127, ../sass/partials/_components.scss */
.block-work .intro p {
  padding-top: 40px;
}
@media (min-width: 960px) {
  /* line 127, ../sass/partials/_components.scss */
  .block-work .intro p {
    text-align: left;
  }
}
@media (min-width: 0) and (max-width: 960px) {
  /* line 134, ../sass/partials/_components.scss */
  .block-work .intro .first {
    margin-bottom: 60px;
  }
}

/* line 147, ../sass/partials/_components.scss */
.work-item {
  overflow: hidden;
  margin-bottom: 110px;
}
@media (min-width: 960px) {
  /* line 151, ../sass/partials/_components.scss */
  .work-item .work-description {
    float: right;
    width: 50%;
  }
  /* line 155, ../sass/partials/_components.scss */
  .work-item .work-image {
    float: left;
    width: 44%;
  }
  /* line 160, ../sass/partials/_components.scss */
  .work-item.reversed .work-description {
    float: left;
  }
  /* line 163, ../sass/partials/_components.scss */
  .work-item.reversed .work-image {
    float: right;
  }
}
/* line 168, ../sass/partials/_components.scss */
.work-item p {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #555;
}

/* line 174, ../sass/partials/_components.scss */
.work-description {
  color: #344253;
}

/* line 177, ../sass/partials/_components.scss */
.work-title {
  font-size: 36px;
  font-size: 3.6rem;
  margin-bottom: 10px;
  color: #25567f;
}

/* line 182, ../sass/partials/_components.scss */
.work-subtitle {
  font-size: 22px;
  font-size: 2.2rem;
  color: #6CA0A0;
  font-weight: 400;
}

/* line 187, ../sass/partials/_components.scss */
.work-tags {
  font-size: 12px;
  font-size: 1.2rem;
  color: #999;
  margin-bottom: 14px;
  display: block;
  text-transform: uppercase;
}

/* line 197, ../sass/partials/_components.scss */
.compressed {
  max-height: 2000px;
  overflow: hidden;
}

/* line 201, ../sass/partials/_components.scss */
.hidden {
  display: none !important;
}

/* line 204, ../sass/partials/_components.scss */
.overlay {
  height: 259px;
  background: url(../images/overlay.png) repeat-x;
  border-bottom: solid 2px #ccc;
  position: relative;
  margin-top: -200px;
  z-index: 5;
}

/* line 212, ../sass/partials/_components.scss */
.more-work {
  cursor: pointer;
  display: block;
  padding: 15px;
  width: 140px;
  margin: -21px auto 0;
  position: relative;
  z-index: 10;
  background: #fff;
  color: #777;
  text-align: right;
  font-size: 18px;
  font-size: 1.8rem;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: solid 2px #ccc;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
/* line 228, ../sass/partials/_components.scss */
.more-work:after {
  content: '+';
  position: absolute;
  left: 9px;
  top: 7px;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 24px;
  text-align: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-size: 30px;
  font-size: 3rem;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #999;
  color: #fff;
}
/* line 245, ../sass/partials/_components.scss */
.more-work:hover {
  background: #ccc;
  color: #fff;
}
/* line 249, ../sass/partials/_components.scss */
.more-work:hover:after {
  background: #fff;
  color: #ccc;
}

/* line 255, ../sass/partials/_components.scss */
.block-clients {
  clear: both;
  overflow: hidden;
  padding: 44px 0;
}
/* line 259, ../sass/partials/_components.scss */
.block-clients h2 {
  color: #555;
  width: 10%;
  float: left;
}
/* line 264, ../sass/partials/_components.scss */
.block-clients .slides {
  float: left;
  width: 80%;
  margin: 0;
  padding: 0;
}

/* line 272, ../sass/partials/_components.scss */
.block-community {
  overflow: hidden;
  background: #412A45;
  padding: 44px 0;
}
/* line 276, ../sass/partials/_components.scss */
.block-community h2.section-title {
  color: #fff;
  margin: 0 0 80px;
}
/* line 280, ../sass/partials/_components.scss */
.block-community h2 {
  color: #ff9343;
}
/* line 283, ../sass/partials/_components.scss */
.block-community h3 {
  color: #fff;
  margin-bottom: 0;
}
/* line 287, ../sass/partials/_components.scss */
.block-community .date {
  font-size: 15px;
  font-size: 1.5rem;
  color: #fff;
}
/* line 291, ../sass/partials/_components.scss */
.block-community .community-list {
  margin-left: 0;
  padding: 0;
}
/* line 295, ../sass/partials/_components.scss */
.block-community li {
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0;
}
/* line 300, ../sass/partials/_components.scss */
.block-community h4 {
  color: #fff;
  margin: 10px 0;
  font-weight: 300;
}
@media (min-width: 0) and (max-width: 960px) {
  /* line 306, ../sass/partials/_components.scss */
  .block-community .first, .block-community .middle, .block-community .last {
    margin-bottom: 20px;
  }
}
@media (min-width: 960px) {
  /* line 311, ../sass/partials/_components.scss */
  .block-community .first {
    width: 33.33333%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 314, ../sass/partials/_components.scss */
  .block-community .middle {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 41.66667%;
    clear: none;
  }
  /* line 317, ../sass/partials/_components.scss */
  .block-community .last {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 324, ../sass/partials/_components.scss */
.cta-list .cta, .cta-list .main-nav a.contact, .main-nav .cta-list a.contact {
  border: 0;
  color: #ff9343;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  padding-left: 20px;
  background: url(../images/sprite.svg) -1px -169px no-repeat;
}

/* line 333, ../sass/partials/_components.scss */
.badge {
  max-width: 155px;
  text-indent: center;
}

/* line 339, ../sass/partials/_components.scss */
.block-blog {
  overflow: hidden;
  background: #D9FFF1;
  padding-bottom: 44px;
}
/* line 343, ../sass/partials/_components.scss */
.block-blog .section-title {
  color: #A7C6C1;
  border-bottom: solid 2px #A7C6C1;
  padding-bottom: 44px;
}
/* line 348, ../sass/partials/_components.scss */
.block-blog h3 {
  font-size: 28px;
  font-size: 2.8rem;
}
/* line 351, ../sass/partials/_components.scss */
.block-blog ul {
  padding: 0 0 0 20px;
}
/* line 354, ../sass/partials/_components.scss */
.block-blog li {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
/* line 363, ../sass/partials/_components.scss */
.block-blog .last h3 {
  font-size: 22px;
  font-size: 2.2rem;
}

/* line 370, ../sass/partials/_components.scss */
.block-contact {
  overflow: hidden;
  padding: 44px 0;
  color: #666;
}
/* line 374, ../sass/partials/_components.scss */
.block-contact h2 {
  font-size: 32px;
  font-size: 3.2rem;
}
/* line 377, ../sass/partials/_components.scss */
.block-contact p {
  line-height: 1.2;
  margin-bottom: 40px;
}
/* line 381, ../sass/partials/_components.scss */
.block-contact .phone {
  font-size: 24px;
  font-size: 2.4rem;
  color: #344253;
  line-height: 1.2;
  margin-bottom: 40px;
}
/* line 386, ../sass/partials/_components.scss */
.block-contact .phone .number {
  color: #1f8b75;
}

/* line 398, ../sass/partials/_components.scss */
.social {
  padding: 0;
  margin-top: 50px;
}
/* line 401, ../sass/partials/_components.scss */
.social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  font-size: 18px;
}
/* line 407, ../sass/partials/_components.scss */
.social li.menu-title {
  text-indent: 0;
  width: auto;
  background-image: none;
  line-height: 36px;
}
/* line 413, ../sass/partials/_components.scss */
.social li .social-icon {
  display: inline-block;
  width: 37px;
  height: 37px;
  vertical-align: top;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../images/sprite.svg);
}
/* line 423, ../sass/partials/_components.scss */
.social li .facebook {
  background-position: -1px -280px;
}
/* line 426, ../sass/partials/_components.scss */
.social li .twitter {
  background-position: -1px -325px;
}
/* line 429, ../sass/partials/_components.scss */
.social li .linked-in {
  background-position: -1px -369px;
}
/* line 432, ../sass/partials/_components.scss */
.social li .drupal {
  background-position: -1px -414px;
}

/* line 438, ../sass/partials/_components.scss */
.footer {
  overflow: hidden;
  padding: 44px 0 0;
  background: #BBEFE0;
  text-align: center;
}
/* line 443, ../sass/partials/_components.scss */
.footer p {
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 446, ../sass/partials/_components.scss */
.footer .first {
  margin-bottom: 44px;
}
/* line 450, ../sass/partials/_components.scss */
.footer .last {
  margin-bottom: 44px;
}
/* line 454, ../sass/partials/_components.scss */
.footer .badge {
  font-size: 24px;
  font-size: 2.4rem;
  border: solid 3px #344253;
  font-weight: 600;
  padding: 20px 30px;
}
@media (min-width: 960px) {
  /* line 454, ../sass/partials/_components.scss */
  .footer .badge {
    margin: 45px 0;
  }
}
/* line 463, ../sass/partials/_components.scss */
.footer .closing {
  clear: both;
  overflow: hidden;
  background: #344253;
  color: #e4f9f3;
}
/* line 468, ../sass/partials/_components.scss */
.footer .closing b {
  display: block;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 20px 0;
  letter-spacing: 2px;
}

/* line 477, ../sass/partials/_components.scss */
.footer-logo {
  max-width: 168px;
}
