@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
/* line 5, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
  line-height: 1.4em;
}

/* line 12, ../sass/partials/_base.scss */
body {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
}

/* line 19, ../sass/partials/_base.scss */
.page {
  font-size: 14px;
  font-size: 1.4rem;
  overflow: hidden;
}

/* line 24, ../sass/partials/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 29, ../sass/partials/_base.scss */
p, li, dd {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.4em;
}

/* line 34, ../sass/partials/_base.scss */
p {
  margin: 0 0 0.7em 0;
  font-size: 20px;
  font-size: 2rem;
}

/* line 39, ../sass/partials/_base.scss */
a, a.active {
  text-decoration: none;
  color: #344253;
}

/* line 44, ../sass/partials/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 48, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2em;
  font-family: "omnes-pro", Arial, sans-serif;
  color: #344253;
}

/* line 57, ../sass/partials/_base.scss */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 61, ../sass/partials/_base.scss */
h3 {
  font-size: 20px;
  font-size: 2rem;
}

/* line 65, ../sass/partials/_base.scss */
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 69, ../sass/partials/_base.scss */
h5 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 73, ../sass/partials/_base.scss */
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 77, ../sass/partials/_base.scss */
ul {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 3em;
}

/* line 82, ../sass/partials/_base.scss */
table {
  margin: 0;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  font-size: 1.5rem;
}
/* line 87, ../sass/partials/_base.scss */
table caption {
  font-weight: 600;
  padding: 0.5em;
  margin: 0.5em auto;
}
/* line 92, ../sass/partials/_base.scss */
table td, table th {
  padding: 0.5em;
}
/* line 95, ../sass/partials/_base.scss */
table thead th, table tfoot th {
  font-weight: 600;
}
/* line 98, ../sass/partials/_base.scss */
table tfoot th {
  border-top: 0.1em inset #000;
}
/* line 101, ../sass/partials/_base.scss */
table thead th {
  border-bottom: 0.1em inset #000;
}

/* line 106, ../sass/partials/_base.scss */
tr.even, tr.odd {
  background-color: transparent;
}

/* line 9, ../sass/partials/_layout.scss */
.grid, .slide-container, .flex-direction-nav {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 680px) {
  /* line 16, ../sass/partials/_layout.scss */
  .block-work .intro .first, .block-blog .first, .block-contact .first, .footer .first {
    width: 47.82609%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }

  /* line 19, ../sass/partials/_layout.scss */
  .block-work .intro .last, .block-blog .last, .block-contact .last, .footer .last {
    width: 47.82609%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 6, ../sass/partials/_components.scss */
.cta, .main-nav a.contact {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  line-height: 1;
  font-weight: bold;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  border: solid 2px #344253;
  padding-right: 30px;
}
/* line 16, ../sass/partials/_components.scss */
.cta:after, .main-nav a.contact:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 9px;
  background-image: url(../images/sprite.svg);
  background-position: -3px -140px;
}

/* line 30, ../sass/partials/_components.scss */
header {
  background: #BBEFE0;
  overflow: hidden;
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 30, ../sass/partials/_components.scss */
  header {
    padding: 20px 0 0;
  }
  /* line 35, ../sass/partials/_components.scss */
  header .grid, header .slide-container, header .flex-direction-nav {
    padding: 0;
  }
}
@media (min-width: 680px) {
  /* line 30, ../sass/partials/_components.scss */
  header {
    padding: 37px;
  }
}
/* line 42, ../sass/partials/_components.scss */
header .logo {
  max-width: 173px;
  text-align: center;
}
@media (min-width: 680px) {
  /* line 42, ../sass/partials/_components.scss */
  header .logo {
    width: 110px;
    float: left;
  }
}
@media (min-width: 960px) {
  /* line 42, ../sass/partials/_components.scss */
  header .logo {
    width: auto;
  }
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 42, ../sass/partials/_components.scss */
  header .logo {
    display: block;
    max-width: none;
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 57, ../sass/partials/_components.scss */
  header .logo img {
    max-width: 160px;
  }
}

/* line 65, ../sass/partials/_components.scss */
.main-nav .menu {
  margin: 0;
  padding: 0;
}
@media (min-width: 680px) {
  /* line 65, ../sass/partials/_components.scss */
  .main-nav .menu {
    float: right;
  }
}
/* line 72, ../sass/partials/_components.scss */
.main-nav li {
  list-style-type: none;
}
/* line 74, ../sass/partials/_components.scss */
.main-nav li:last-child {
  margin-right: 0;
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 72, ../sass/partials/_components.scss */
  .main-nav li {
    border-top: solid 1px #afcacb;
  }
  /* line 79, ../sass/partials/_components.scss */
  .main-nav li:last-child {
    border-top: 0;
    padding: 5px 0 0;
  }
}
@media (min-width: 680px) {
  /* line 72, ../sass/partials/_components.scss */
  .main-nav li {
    display: inline-block;
    margin-right: 15px;
    text-align: left;
  }
}
/* line 90, ../sass/partials/_components.scss */
.main-nav a {
  font-size: 19px;
  font-size: 1.9rem;
  color: #344253;
  display: block;
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 90, ../sass/partials/_components.scss */
  .main-nav a {
    padding: 10px 15px;
  }
}
@media (min-width: 680px) {
  /* line 90, ../sass/partials/_components.scss */
  .main-nav a {
    padding: 4px 7px;
    font-size: 15px;
    font-size: 1.5rem;
    display: inline-block;
  }
}
@media (min-width: 960px) {
  /* line 90, ../sass/partials/_components.scss */
  .main-nav a {
    padding: 8px 15px;
    font-size: 19px;
    font-size: 1.9rem;
  }
  /* line 105, ../sass/partials/_components.scss */
  .main-nav a:hover {
    background: #E4F9F3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}
/* line 110, ../sass/partials/_components.scss */
.main-nav a.contact {
  font-weight: normal;
  margin-top: -2px;
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 110, ../sass/partials/_components.scss */
  .main-nav a.contact {
    display: block;
    border-right: 0;
    border-left: 0;
    border-width: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 19px;
    font-size: 1.9rem;
  }
  /* line 123, ../sass/partials/_components.scss */
  .main-nav a.contact:after {
    top: 18px;
  }
}
@media (min-width: 680px) {
  /* line 110, ../sass/partials/_components.scss */
  .main-nav a.contact {
    padding: 5px 30px 5px 7px;
    font-size: 15px;
    font-size: 1.5rem;
  }
  /* line 130, ../sass/partials/_components.scss */
  .main-nav a.contact:after {
    top: 5px;
  }
}
@media (min-width: 960px) {
  /* line 110, ../sass/partials/_components.scss */
  .main-nav a.contact {
    font-size: 19px;
    font-size: 1.9rem;
    padding: 8px 27px 8px 12px;
  }
  /* line 137, ../sass/partials/_components.scss */
  .main-nav a.contact:hover {
    background: #344253;
    color: #fff;
  }
  /* line 141, ../sass/partials/_components.scss */
  .main-nav a.contact:after {
    top: 11px;
  }
}

/* line 150, ../sass/partials/_components.scss */
.hero-slider {
  background: #e4f9f3;
}
/* line 152, ../sass/partials/_components.scss */
.hero-slider .slides {
  margin-top: 0;
  padding: 0;
}

/* line 157, ../sass/partials/_components.scss */
.slide-container {
  padding: 20px 20px 60px;
  overflow: hidden;
}
@media (min-width: 960px) {
  /* line 157, ../sass/partials/_components.scss */
  .slide-container {
    padding: 70px 20px 60px;
  }
}
/* line 164, ../sass/partials/_components.scss */
.slide-container .title {
  font-size: 29px;
  font-size: 2.9rem;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (min-width: 680px) {
  /* line 164, ../sass/partials/_components.scss */
  .slide-container .title {
    font-size: 40px;
    font-size: 4rem;
    line-height: 1.2;
  }
}
/* line 173, ../sass/partials/_components.scss */
.slide-container p {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 20px;
}
@media (min-width: 680px) {
  /* line 173, ../sass/partials/_components.scss */
  .slide-container p {
    font-size: 28px;
    font-size: 2.8rem;
    margin-bottom: 35px;
  }
}
/* line 181, ../sass/partials/_components.scss */
.slide-container .cta, .slide-container .main-nav a.contact, .main-nav .slide-container a.contact {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.2;
}
@media (min-width: 680px) {
  /* line 181, ../sass/partials/_components.scss */
  .slide-container .cta, .slide-container .main-nav a.contact, .main-nav .slide-container a.contact {
    font-size: 19px;
    font-size: 1.9rem;
    margin-bottom: 80px;
  }
  /* line 185, ../sass/partials/_components.scss */
  .slide-container .cta:after, .slide-container .main-nav a.contact:after, .main-nav .slide-container a.contact:after {
    top: 11px;
  }
}
@media (min-width: 960px) {
  /* line 181, ../sass/partials/_components.scss */
  .slide-container .cta, .slide-container .main-nav a.contact, .main-nav .slide-container a.contact {
    margin-bottom: 20px;
  }
}
/* line 195, ../sass/partials/_components.scss */
.slide-container .cta:after, .slide-container .main-nav a.contact:after, .main-nav .slide-container a.contact:after {
  top: 11px;
}

@media (min-width: 680px) {
  /* line 200, ../sass/partials/_components.scss */
  .slide-content {
    width: 55%;
    float: left;
  }
}

/* line 206, ../sass/partials/_components.scss */
.slide-image {
  padding: 25px 45px 15px;
}
@media (min-width: 680px) {
  /* line 206, ../sass/partials/_components.scss */
  .slide-image {
    float: right;
    width: 40%;
    margin-top: -10px;
    padding: 0;
  }
}

/* line 215, ../sass/partials/_components.scss */
.flex-direction-nav {
  margin-top: -80px;
  padding-bottom: 20px;
  position: relative;
  left: 40%;
}
@media (min-width: 680px) {
  /* line 215, ../sass/partials/_components.scss */
  .flex-direction-nav {
    margin-top: -100px;
    left: auto;
  }
}
/* line 225, ../sass/partials/_components.scss */
.flex-direction-nav li {
  list-style-type: none;
  display: inline-block;
}
/* line 228, ../sass/partials/_components.scss */
.flex-direction-nav li a {
  width: 27px;
  height: 27px;
  overflow: hidden;
  text-indent: 100%;
  background-image: url(../images/sprite.svg);
  display: inline-block;
}
/* line 236, ../sass/partials/_components.scss */
.flex-direction-nav li .flex-prev {
  background-position: -2px -40px;
}
/* line 239, ../sass/partials/_components.scss */
.flex-direction-nav li .flex-next {
  background-position: -3px -82px;
}

/* line 246, ../sass/partials/_components.scss */
.section-title {
  text-align: center;
  color: #7BBDB1;
  font-size: 28px;
  font-size: 2.8rem;
  margin: 44px 0;
}

/* line 254, ../sass/partials/_components.scss */
.block-work .intro {
  border-top: solid 2px #E4F9F3;
  border-bottom: solid 2px #E4F9F3;
  overflow: hidden;
  padding: 40px 20px;
  margin-bottom: 60px;
  text-align: center;
}
/* line 261, ../sass/partials/_components.scss */
.block-work .intro img {
  max-height: 150px;
}
/* line 264, ../sass/partials/_components.scss */
.block-work .intro p {
  padding-top: 40px;
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 264, ../sass/partials/_components.scss */
  .block-work .intro p {
    font-size: 17px;
    font-size: 1.7rem;
  }
}
@media (min-width: 960px) {
  /* line 264, ../sass/partials/_components.scss */
  .block-work .intro p {
    text-align: left;
  }
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 274, ../sass/partials/_components.scss */
  .block-work .intro .first {
    margin-bottom: 60px;
  }
}

/* line 287, ../sass/partials/_components.scss */
.work-item {
  overflow: hidden;
  margin-bottom: 110px;
}
@media (min-width: 960px) {
  /* line 291, ../sass/partials/_components.scss */
  .work-item .work-description {
    float: right;
    width: 50%;
  }
  /* line 295, ../sass/partials/_components.scss */
  .work-item .work-image {
    float: left;
    width: 44%;
    margin-bottom: 0;
  }
  /* line 301, ../sass/partials/_components.scss */
  .work-item.reversed .work-description {
    float: left;
  }
  /* line 304, ../sass/partials/_components.scss */
  .work-item.reversed .work-image {
    float: right;
  }
}
/* line 309, ../sass/partials/_components.scss */
.work-item .work-image {
  margin-bottom: 15px;
}
/* line 312, ../sass/partials/_components.scss */
.work-item p {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #555;
}

/* line 318, ../sass/partials/_components.scss */
.work-description {
  color: #344253;
}

/* line 321, ../sass/partials/_components.scss */
.work-title {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: #25567f;
}
@media (min-width: 680px) {
  /* line 321, ../sass/partials/_components.scss */
  .work-title {
    font-size: 36px;
    font-size: 3.6rem;
  }
}

/* line 329, ../sass/partials/_components.scss */
.work-subtitle {
  font-size: 18px;
  font-size: 1.8rem;
  color: #6CA0A0;
  font-weight: 400;
}
@media (min-width: 680px) {
  /* line 329, ../sass/partials/_components.scss */
  .work-subtitle {
    font-size: 22px;
    font-size: 2.2rem;
  }
}

/* line 337, ../sass/partials/_components.scss */
.work-tags {
  font-size: 12px;
  font-size: 1.2rem;
  color: #999;
  margin-bottom: 14px;
  display: block;
  text-transform: uppercase;
}

/* line 347, ../sass/partials/_components.scss */
.compressed {
  max-height: 2000px;
  overflow: hidden;
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 347, ../sass/partials/_components.scss */
  .compressed {
    max-height: 3000px;
  }
}

/* line 354, ../sass/partials/_components.scss */
.hidden {
  display: none !important;
}

/* line 357, ../sass/partials/_components.scss */
.overlay {
  height: 259px;
  background: url(../images/overlay.png) repeat-x;
  border-bottom: solid 2px #ccc;
  position: relative;
  margin-top: -200px;
  z-index: 5;
}

/* line 365, ../sass/partials/_components.scss */
.more-work {
  cursor: pointer;
  display: block;
  padding: 15px;
  width: 140px;
  margin: -21px auto 40px;
  position: relative;
  z-index: 10;
  background: #fff;
  color: #777;
  text-align: right;
  font-size: 18px;
  font-size: 1.8rem;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: solid 2px #ccc;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
/* line 381, ../sass/partials/_components.scss */
.more-work:after {
  content: '+';
  position: absolute;
  left: 9px;
  top: 7px;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 24px;
  text-align: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-size: 30px;
  font-size: 3rem;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #999;
  color: #fff;
}
/* line 398, ../sass/partials/_components.scss */
.more-work:hover {
  background: #ccc;
  color: #fff;
}
/* line 402, ../sass/partials/_components.scss */
.more-work:hover:after {
  background: #fff;
  color: #ccc;
}

/* line 408, ../sass/partials/_components.scss */
.block-clients {
  clear: both;
  overflow: hidden;
  padding: 44px 0;
}
/* line 412, ../sass/partials/_components.scss */
.block-clients h2 {
  color: #555;
  width: 10%;
}
@media (min-width: 680px) {
  /* line 412, ../sass/partials/_components.scss */
  .block-clients h2 {
    float: left;
  }
}
/* line 419, ../sass/partials/_components.scss */
.block-clients .slides {
  margin: 0;
  padding: 0;
}
@media (min-width: 680px) {
  /* line 419, ../sass/partials/_components.scss */
  .block-clients .slides {
    width: 80%;
    float: left;
  }
}

/* line 429, ../sass/partials/_components.scss */
.block-community {
  overflow: hidden;
  background: #412A45;
  padding: 44px 0;
  background-attachment: fixed;
}
@media (min-width: 0) and (max-width: 959px) {
  /* line 429, ../sass/partials/_components.scss */
  .block-community {
    background-image: url(../images/textura-movil.jpg);
    background-size: 488px 392px;
  }
}
@media (min-width: 960px) {
  /* line 429, ../sass/partials/_components.scss */
  .block-community {
    background-image: url(../images/textura-desk.jpg);
    background-size: 850px 690px;
  }
}
/* line 442, ../sass/partials/_components.scss */
.block-community h2.section-title {
  color: #fff;
  margin: 0 0 80px;
  text-align: left;
}
@media (min-width: 960px) {
  /* line 442, ../sass/partials/_components.scss */
  .block-community h2.section-title {
    text-align: center;
  }
}
/* line 450, ../sass/partials/_components.scss */
.block-community h2 {
  color: #ff9343;
}
/* line 453, ../sass/partials/_components.scss */
.block-community h3 {
  color: #fff;
  margin-bottom: 0;
}
/* line 457, ../sass/partials/_components.scss */
.block-community .date {
  font-size: 15px;
  font-size: 1.5rem;
  color: #fff;
}
/* line 461, ../sass/partials/_components.scss */
.block-community .community-list {
  margin-left: 0;
  padding: 0;
}
/* line 465, ../sass/partials/_components.scss */
.block-community li {
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0;
}
/* line 470, ../sass/partials/_components.scss */
.block-community h4 {
  color: #fff;
  margin: 10px 0;
  font-weight: 300;
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 476, ../sass/partials/_components.scss */
  .block-community .first, .block-community .middle, .block-community .last {
    margin-bottom: 40px;
  }
}
@media (min-width: 0) and (max-width: 679px) and (min-width: 680px) {
  /* line 476, ../sass/partials/_components.scss */
  .block-community .first, .block-community .middle, .block-community .last {
    margin-bottom: 20px;
  }
}

@media (min-width: 960px) {
  /* line 484, ../sass/partials/_components.scss */
  .block-community .first {
    width: 33.33333%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 487, ../sass/partials/_components.scss */
  .block-community .middle {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 41.66667%;
    clear: none;
  }
  /* line 490, ../sass/partials/_components.scss */
  .block-community .last {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media (min-width: 0) and (max-width: 679px) {
  /* line 496, ../sass/partials/_components.scss */
  .cta-list {
    padding-left: 0;
  }
}
/* line 500, ../sass/partials/_components.scss */
.cta-list .cta, .cta-list .main-nav a.contact, .main-nav .cta-list a.contact {
  border: 0;
  color: #ff9343;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  padding-left: 20px;
  background: url(../images/sprite.svg) -1px -169px no-repeat;
  padding-right: 12px;
}
/* line 508, ../sass/partials/_components.scss */
.cta-list .cta:after, .cta-list .main-nav a.contact:after, .main-nav .cta-list a.contact:after {
  display: none;
}

/* line 513, ../sass/partials/_components.scss */
.badge {
  max-width: 155px;
  text-indent: center;
}
/* line 516, ../sass/partials/_components.scss */
.badge:after {
  display: none;
}

/* line 522, ../sass/partials/_components.scss */
.block-blog {
  overflow: hidden;
  background: #D9FFF1;
  padding-bottom: 44px;
}
/* line 526, ../sass/partials/_components.scss */
.block-blog .section-title {
  color: #A7C6C1;
  border-bottom: solid 2px #A7C6C1;
  padding-bottom: 44px;
}
/* line 531, ../sass/partials/_components.scss */
.block-blog h3 {
  font-size: 28px;
  font-size: 2.8rem;
}
/* line 534, ../sass/partials/_components.scss */
.block-blog ul {
  padding: 0 0 0 20px;
}
/* line 537, ../sass/partials/_components.scss */
.block-blog li {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
/* line 546, ../sass/partials/_components.scss */
.block-blog .last h3 {
  font-size: 22px;
  font-size: 2.2rem;
}

/* line 553, ../sass/partials/_components.scss */
.block-contact {
  overflow: hidden;
  padding: 44px 0;
  color: #666;
}
/* line 557, ../sass/partials/_components.scss */
.block-contact h2 {
  font-size: 32px;
  font-size: 3.2rem;
}
/* line 560, ../sass/partials/_components.scss */
.block-contact p {
  line-height: 1.2;
  margin-bottom: 40px;
}
/* line 564, ../sass/partials/_components.scss */
.block-contact .phone {
  font-size: 24px;
  font-size: 2.4rem;
  color: #344253;
  line-height: 1.2;
  margin-bottom: 40px;
}
/* line 569, ../sass/partials/_components.scss */
.block-contact .phone .number {
  color: #1f8b75;
}
/* line 573, ../sass/partials/_components.scss */
.block-contact a {
  color: #344253;
  font-weight: bold;
}
@media (min-width: 0) and (max-width: 679px) {
  /* line 577, ../sass/partials/_components.scss */
  .block-contact .first {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: solid 1px #e1e1e1;
  }
}
/* line 587, ../sass/partials/_components.scss */
.block-contact .last p {
  margin-bottom: 20px;
}
/* line 590, ../sass/partials/_components.scss */
.block-contact .last b {
  text-decoration: underline;
  color: #344253;
}

/* line 597, ../sass/partials/_components.scss */
.social {
  padding: 0;
  margin-top: 50px;
}
/* line 600, ../sass/partials/_components.scss */
.social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  font-size: 18px;
}
/* line 606, ../sass/partials/_components.scss */
.social li.menu-title {
  text-indent: 0;
  width: auto;
  background-image: none;
  line-height: 36px;
}
/* line 612, ../sass/partials/_components.scss */
.social li .social-icon {
  display: inline-block;
  width: 37px;
  height: 37px;
  vertical-align: top;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../images/sprite.svg);
}
/* line 622, ../sass/partials/_components.scss */
.social li .facebook {
  background-position: -1px -280px;
}
/* line 625, ../sass/partials/_components.scss */
.social li .twitter {
  background-position: -1px -325px;
}
/* line 628, ../sass/partials/_components.scss */
.social li .linked-in {
  background-position: -1px -369px;
}
/* line 631, ../sass/partials/_components.scss */
.social li .drupal {
  background-position: -1px -414px;
}

/* line 637, ../sass/partials/_components.scss */
.footer {
  overflow: hidden;
  padding: 44px 0 0;
  background: #BBEFE0;
  text-align: center;
}
/* line 642, ../sass/partials/_components.scss */
.footer p {
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 645, ../sass/partials/_components.scss */
.footer .first {
  margin-bottom: 44px;
}
/* line 649, ../sass/partials/_components.scss */
.footer .last {
  margin-bottom: 44px;
}
/* line 653, ../sass/partials/_components.scss */
.footer .badge {
  font-size: 24px;
  font-size: 2.4rem;
  border: solid 3px #344253;
  font-weight: 600;
  padding: 20px 30px;
  color: #344253;
}
@media (min-width: 960px) {
  /* line 653, ../sass/partials/_components.scss */
  .footer .badge {
    margin: 45px 0;
  }
}
/* line 663, ../sass/partials/_components.scss */
.footer .closing {
  clear: both;
  overflow: hidden;
  background: #344253;
  color: #e4f9f3;
}
/* line 668, ../sass/partials/_components.scss */
.footer .closing b {
  display: block;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 20px 0;
  letter-spacing: 2px;
}

/* line 677, ../sass/partials/_components.scss */
.footer-logo {
  max-width: 168px;
}
@media (min-width: 680px) {
  /* line 677, ../sass/partials/_components.scss */
  .footer-logo {
    margin-top: 40px;
  }
}
